OrganizerLibrary/bin/
OrganizerLibrary/obj/
OrganizerWPF/bin/
OrganizerWPF/obj/
OrganizerMVC/
DataFiles
Organizer.EntityFramework/bin/
Organizer.EntityFramework/Migrations/
Organizer.EntityFramework/obj/
OrganizerDataFilesConnection/bin/
OrganizerDataFilesConnection/obj/
/.vs